/* Class = . ID = # */

div.container {
    width: 100%;
    border: 1px solid gray;
    background: url("table.jpg");
}

body {
  color:white;
  font-size: 16px;
}

body > p {
  color:white;
}

header, footer {
    color: white;
    clear: left;
    text-align: center;
  border-color: white;
  border-style: 8px solid;
}

.nav{
  background-color: #ffffff ; /*White*/
  color: #000000; /* Black */
  list-style: none;
  text-align: right;
  padding: 10px 0 10px 0;
}
.nav > li {
  display: inline-block;
  padding: 0 25px 0 25px;
  font-size: 12px;
}
.nav > li > a {
  text-decoration: none;
  color: #000000; /* Black */
}
.nav > li > a:hover {
  color: #c1c1c1;
}

.logo{
  color: #000000;
  float: left;
  padding-left: 25px;
  font-size: 16px;
  font-weight: bold;
}

.banner {
  width:100%;
  display: block;
  border-color: white;
}

.banner > .banner_image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

aside {
    float: left;
    max-width: 160px;
    max-height:100%
    margin: 0;
    padding: 1em;
}

summary {
    float: right;
    max-width: 160px;
    max-height:100%
    margin: 0;
    padding: 1em;
    padding-right: 80px;
}

#playerScore{
  margin-top: 200px;

}

aside h2 {
  max-width: 100px;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial', serif;
    font-size: 16px
    }


aside button {
  text-align: center;
    display: block;
    padding: 10px, 20px, 10px, 20px;
}

article {
    margin-right: 170px;
    margin-right: 170px;
    overflow: hidden;
    color: white;
    font-size: 16px

}

p {
  color:green;
  background-color: white;
  font-size: 18px;
}

section {
    margin-right: 170px;
    margin-left:170px;
    margin-top: -60px;
    padding: 1em;
    overflow: hidden;
    color: white;
    font-size: 16px
}


.cardBoxes {
  align-items: center;
    display: inline-block;
    width: 150px;
    height: 190px;
    margin: 10px;
}



button {

  background-color:green;
  color: white; /* white text */
  border-color: white;
  border-style: solid 32px;
  padding: 15px 32px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  cursor: pointer; /* pointer hand icon */
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  width: 120px;
  height: 80px;
  top: 10%;
  border-radius:50%;
}

#deal_button {
  margin-bottom: 80px;
  background-color: blue;
  border-style: bold
  border-color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0 6px 20px 0 rgba(0,0,0,1);
}

#deal_button:hover{
  background-color: SteelBlue;
  color: #000000;
}

#hit_button{
  background: #32CD32; /* LimeGreen */
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0 6px 20px 0 rgba(0,0,0,1);
}

#hit_button:hover{
  background-color: OliveDrab;
  color: #000000;
}

#stand_button{
  margin-top: 15px;
  background: #FF0000;
  color: white;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0 6px 20px 0 rgba(0,0,0,1);
}

#stand_button:hover{
  background-color: DarkRed;
  color: #000000;
}

.dealButton {
  -webkit-animation: bounce .3s infinite alternate;
  -moz-animation: bounce .3s infinite alternate;
  animation: bounce .3s infinite alternate;
  animation-iteration-count: 10;
}
@-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.2); }
}
@-moz-keyframes bounce {
  to { -moz-transform: scale(1.2); }
}
@keyframes bounce {
  to { transform: scale(1.2); }
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 84px;
    color: white
    font-weight: bold;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}

#top, #bottom, #left, #right {
  background: url('brownleather.jpeg');
  position: fixed;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 15px;
    }
    #left { left: 0; }
    #right { right: 0; }

  #top, #bottom {
    left: 0; right: 0;
    height: 15px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 500px;
  padding: 12px 16px
}

.dropdown:hover .dropdown-content{
  display:block;
  font-size: 8px;
  background-color: white;
}
