/* Main Page Set Up */
html {
  background: url("table.jpg");
}

body {
  margin:0;
  padding:0;
  font-family: 'Arial', serif;
}
nav {
  background:white;

}
header{
  border-color:white;
  border-style:solid;
}

article{
  background: url('wood.jpg');
}


#myDIV {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}

/* Create nav bar */
.nav{
  background-color: #ffffff ; /*White*/
  color: #000000; /* Black */
  list-style: none;
  text-align: right;
  padding: 10px 0 10px 0;
}
.nav > li {
  display: inline-block;
  padding: 0 25px 0 25px;
  font-size: 12px;
}
.nav > li > a {
  text-decoration: none;
  color: #000000; /* Black */
}
.nav > li > a:hover {
  color: #c1c1c1;
}

.logo{
  color: #000000;
  float: left;
  padding-left: 25px;
  font-size: 16px;
  font-weight: bold;
}
.banner {
  width:100%;
  display: block;
}

.banner > .banner_image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  display: block;
}

/* End of Nav Bar / Banner */

#dealCards {
    width: 10%;
    padding: 50px 10px;
    text-align: center;   
    margin-top: 20px;
    display:none;
}



section{
  height:100px;
}




/* Buttons */

button {
  background-color:green;
  color: white; /* white text */
  border-color: white;
  border-style: solid 32px;
  padding: 15px 32px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer; /* pointer hand icon */
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  width: 200px;
  height: 100px;
  top: 10%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius:50%;
}


#deal_button{
  background: DodgerBlue;
  color: #000000;
}

#deal_button:hover{
  background-color: SteelBlue;
  color: #000000;
}


#hit_button{
  background: #32CD32; /* LimeGreen */
  color: #000000;
}

#hit_button:hover{
  background-color: OliveDrab;
  color: #000000;
}

#stand_button{
  background: #FF0000;
  color: #000000;
}

#stand_button:hover{
  background-color: DarkRed;
  color: #000000;
}

/* End of Buttons */

/* Playing Card Image */


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 50px 16px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}


/* Footer */


footer {
  border-top: 1px solid grey;
  text-align: centre;
  font-size: 12px;
  line-height: 8px;
  margin-top: 4px;
  color: #c1c1c1;
}


/* End of Footer */